@model StoreManagement.Models.ViewModels.CreateProductView

@inject StoreDbContext context;
@{
}

<form asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="Price">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Create At</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" asp-for="CreateAt">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Active</label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()">
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="CategoryId">
                @foreach (var item in context.Categories.ToList())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="text-info">Avatar</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" asp-for="IformfilePath">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Create</button>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>