@model StoreManagement.Models.Entities.OrderDetail

@inject StoreDbContext context;
@{
}

<form asp-controller="OrderDetail" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="OrderId">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Category</label>
            <select class="form-control" id="Category"
                    asp-items="@(new SelectList(context.Categories.ToList(),"Id","Name"))">
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>Product</label>
            <select class="form-control" asp-for="ProductId" id="Product" 
                    asp-items="@(new SelectList(context.Products.ToList(),"Id","Name"))">
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Quantity</label>
            <input type="number" asp-for="Quantity" class="form-control" id="Quantity">
            <span asp-validation-for="Quantity"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Discount</label>
            <input type="number" asp-for="Discount" class="form-control" id="Discount" >
            <span asp-validation-for="Discount"></span>
        </div>
        <div class="form-group col-md-2">
            <label>Price</label>
            <input class="form-control" asp-for="UnitPrice" id="Price" readonly>
            <span asp-validation-for="UnitPrice"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Pay Status</label>
        <select class="form-control" asp-for="PayStatus" asp-items="@Html.GetEnumSelectList<PayStatus>()">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
    
@section Scripts{
    <script src="~/js/OrderDetail.js"></script>
}
